music.timleuschner.de {
	handle /api/* {
		reverse_proxy backend:3000
	}

	handle /share/* {
		reverse_proxy backend:3000
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}

emotions.timleuschner.de {
    root * /opt/emotions/dist
    try_files {path} /index.html
    file_server
}
